body {
	margin: 0;
}
header{
	display: fixed;
	top: 0;
	height: 20px;
}
header nav {
	float: right;
}

header li{
	display: inline-block;
}
#galeria-fotos {
	width: 100%;
	height: 400px;
	overflow: hidden;
}
#about-us {
	height: 600px;
}
.features, .services-galery, .teams-galery, #contact-us fieldset, .footer-container {
	width: 900px;
	margin: 0 auto;
	display: table;
}
.features:first-child {
	margin-left: 20px;
}
.features-item {
	width: 250px;
	float: left;
	margin-right: 35px;
}
.features-item img {
	width: inherit;
}
#services {
	padding: 10px 0;
  text-align: center;
  height: 420px;
  margin: 0 auto;
}
#services p {
  margin-top: -65px;
  margin-bottom: 60px;
}
.services-galery figure {
	float: left;
	margin: 0 20px;
	width: 180px;
	border: #000 solid 1px;
}
.services-galery img {
	width: inherit;
}

#teams {
	clear: left;
}
.teams-galery {
	width: 900px;
	margin: 0 auto;
	border: 1px solid #000;
	display: table;
}
.team {
	float: left;
	width: 150px;
}
.team img {
	width: inherit;
}

#contact-us fieldset div{
	float: left;
	width: 450px;
}
.footer-container div {
	float: left;
}
.social {
	float: right;
}
.social li {
	display: inline-block;
}
.social a[href*="facebook.com"] {

}
