	.active, .active:hover{
	color: rgb(91,191,232);
}
header a:hover{
	color: rgb(195,195,195);
	transition: all 0.5s;
}
.features-item{
	background-color: rgb(42, 42, 42);
}
.features-item:hover{
	background-color: rgb(49, 158, 198);
<<<<<<< HEAD
	color: rgb(49, 158, 198);
	transition: all 0.5s; 
=======
	transition: all 0.5s;
>>>>>>> 02983d7b42caf2d20258d2760104e6fc995ae00e
}
.features-item p,.features-item h3 {
	color: #fff;
}
.features-item div:not(.hexagono) {
	padding: 10px 30px;
}

#services {
	background:url(../img/pattern.jpg);
}
.team, .team-top, .team-bottom{
	background-color: rgb(49, 158, 198);
<<<<<<< HEAD
	color: #fff;
}	

.team:hover, .team-top:hover, .team-bottom:hover{
	background-color: rgb(42, 42, 42);
	transition: all 0.5s;
}
=======
}
.team:hover, .team-top:hover{
	background-color: rgb(42, 42, 42);
	transition: all 0.5s;
}
#services {
  background-image: url("../img/pattern.jpg");
}
>>>>>>> 02983d7b42caf2d20258d2760104e6fc995ae00e
